
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
  text-align: center;
}
.header h1 {
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  color: #000;
}
.header p {
  color: #777;
  margin: 10px 0 20px;
  font-size: 14px;
}
.login-form {
  text-align: left;
}
.login-form label {
  font-size: 14px;
  margin: 10px 0 5px;
  display: block;
}
.login-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
}
.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 13px;
}
.options a {
  text-decoration: none;
  color: #333;
}
.btn-login {
  width: 100%;
  background: #f44336;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 15px;
}
.btn-login:hover {
  background: #d32f2f;
}
.btn-google {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #fff;
  margin-bottom: 15px;
}
.btn-google i {
  width: 20px;
  margin-right: 10px;
}
.signup {
  text-align: center;
  font-size: 13px;
}
.signup a {
  color: red;
  text-decoration: none;
  font-weight: bold;
}